config.php
.env

data/*.sqlite
data/*.log
data/*.corrupt
data/sessions/*
!data/.gitkeep

vendor/

uploads/avatars/*
uploads/payments/*
uploads/dentists/*
!uploads/.gitkeep
!uploads/avatars/.gitkeep
!uploads/payments/.gitkeep
!uploads/dentists/.gitkeep

node_modules/
.DS_Store
*.log
